body{
    height: 1000px;
}

a{
    text-decoration: none;
}

.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 120px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../images/login_bg.jpg');
}

.background .size{
    padding-top: 70px;
    padding-bottom: 50px;
}

.background .log{
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
}

.background .loginbox{
    width: 568px;
    height: 497px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 3px;
}
.background .loginbox .welcome{
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    font-size: 18px;
    color: #777777;
    text-align: center;
    line-height: 24px;
    padding: 30px 20px 30px;
}

.background .loginbox .text{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.background .loginbox .text .check{
    margin-bottom: 20px;
    height: 26px;
}

input[id="save"]{
    display: none;
}

.background .loginbox .text .check input[id="save"]+label{
    display: inline-block;
    background-size: 26px;
    padding: 5px 0 5px 30px;
    background-image: url('../images/mem_check_off.png');
    background-repeat: no-repeat;
}

.background .loginbox .text .check input[type=checkbox]:checked+label{
    background-image: url('../images/mem_check_on.png');
}

.background .loginbox .text .check label{
    height: 100%;
}

.background .loginbox .text .check label{
    padding-left: 35px;

}

.background .loginbox .text .lgtext{
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ddd;
}

.background .text p{
    margin-top: 15px;
    display: flex;
    vertical-align: baseline;
    color: #006633;
    font-size: 14px;
    line-height: 1.4;
}

.background .loginbox .text #loginbtn{
    font-size: 24px;
    padding: 15px;
    border-radius: 4px;
    color: white;
    border: none;
    background-color: #006633;
}

.background .loginbox .text #loginbtn:hover{
    text-decoration: underline;
}

.background .loginbox .btn{
    display: flex;
    width: 100%;
    margin:0;
    padding: 0;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.background .loginbox .btn ul li{
    display: inline-block;
    width: 170px;
    height: 100%;
}

.background .loginbox .btn ul li a{
    color: #666;
    line-height: 54px;
}

.background .loginbox .btn a:hover{
    text-decoration: underline;
}



.background .loginbox .btn ul li::before{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.background .loginbox .btn ul li:nth-child(1):before{
    display: none;
}